#u495-4
{
	font-family: karla-n4, sans-serif;
}

#u505-4
{
	font-family: playfair-display-i4, serif;
}

#u486-4,#u510-4,#u512-4,#u498-4
{
	font-family: karla-n7, sans-serif;
}

#u502-4,#u500-4
{
	font-family: playfair-display-n4, serif;
}

#u504-8,#u501-4,#u497-6,#u547-6
{
	font-family: karla-n4, sans-serif;
}

