
      /*scale out onload*/

@keyframes ScaleOut {
    from {
      transform-origin: left;
      transform: scaleX(0);
    }
    100% {
      transform-origin: left;
      transform: scaleX(1);
    }
}
.menuclose span:nth-child(1) { animation: ScaleOut 1.2s; }
.menuclose span:nth-child(2) { animation: ScaleOut .8s; }
.menuclose span:nth-child(3) { animation: ScaleOut .4s; }


/*hamburger menu open*/

.menuclose span:nth-child(1) {
  top: 0px;
  transform-origin: left center; 
}

.menuclose span:nth-child(2) {
  top: 4px;
  transform-origin: left center;
}

.menuclose span:nth-child(3) {
  top: 8px;
  transform-origin: left center;
}

.menuopen {
height: 2px !important;}

.menu_button_box_close:hover > .menuclose > span:nth-child(1) {
   animation: hovermenu-first .4s forwards;
}
.menu_button_box_close:hover > .menuclose > span:nth-child(3) {
   animation: hovermenu-third .4s forwards;
}




@keyframes hovermenu-first {
  0% { 
}
  100% {
     transform-origin: right center;
    transform: rotate(30deg) scaleX(0.5) translateZ(0);
    top: 4px;
  }
}
@keyframes hovermenu-third {
  0% {  
}
  100% {
     transform-origin: right center;
    transform: rotate(-30deg) scaleX(0.5) translateZ(0);
    top: 4px;
  }
}


.menuopen > span:nth-child(1) {
   animation: hovermenu_open-first .4s forwards;
}
.menuopen > span:nth-child(2) {
  opacity: 0;
}
.menuopen > span:nth-child(3) {
   animation: hovermenu_open-third .4s forwards;
}

.menuopen:hover > span:nth-child(1) {
   animation: hovermenu_open-first .4s forwards;
}

.menuopen:hover > span:nth-child(3) {
   animation: hovermenu_open-third .4s forwards;
}



@keyframes hovermenu_open-first {
  0% { 
}
  100% {
    transform: rotate(45deg) translateZ(0);
  }
}

@keyframes hovermenu_open-third {
  0% {  
}
  100% {
    transform: rotate(-45deg) translateZ(0);
  }
}



@keyframes main_open {
    0%   {
left: 0px;    }
    
    100% {
left: 200px;    }
}
@keyframes main_close {
    0%   {
left: 200px;    }
    
    100% {
left: 0px;    }
}

.main_open {
animation: main_open .5s forwards;
}
.main_close {
animation: main_close .5s forwards;
}



