// _responsive.scss
@media only screen and (max-width: 960px) {
  
.delete {
display: none;
}

#prog_title {
    top: 90px;
    position: relative;
    z-index: 300000;
}


  #intro {
    font-size: .6em;

    }

  
  #prog_wrapper_page {
    padding: 0 15px;
    margin: 32px auto;

  }

.button {
    clear: both;
    font-size: 1.3em;
}

    #lokatie {
    font-size: 200%;

    }
    #date {
        font-size: 200%;

    }

.sok {
    display: none;

}

 #intro {
        font-size: .7em;
    -webkit-columns: 70px 2;
    -moz-columns: 70px 2;
    columns: 100px 2;
    text-align: left;
        margin-top: -70px;
        text-align: justify;
    }


#prog_box2 {
    width: 50%;
    position: relative;
    top: -26px;
}

#prog_wrapper_full {
    margin: 30px auto;
}


#prog_img2 {
    height: 129px;
}

#prog_img2:hover {
    height: 129px;
}

#prog_title {
    font-size: 1em;
}

}

@media only screen and (max-width: 700px) {

#prog_img2 {
    height: 70px;
}

#prog_img2:hover {
    height: 70px;
}

#prog_title {
    font-size: .7em;
    top: 57px;
}

#menu_link_first:hover {
    background-color: rgb(34, 59, 111);
    color: rgb(255, 255, 255);
        line-height: 1.4em;
        padding-top: 5px;
    }

#menu_link:hover {
    background-color: rgb(34, 59, 111);
        color: rgb(255, 255, 255);
    }



    #intro {
    font-size: .7em;
    columns: 100px 1;
    text-align: justify;
    margin: 30px;
}

.button {
    font-size: 1em;
}

#single_entry {
    font-size: 1em;
}

#stoofpot_logo {
    width: auto;
    height: 60%;
    margin: 0 auto;
    position: static;
}
  #prog_wrapper_page {
    padding: 0 10px;
    margin: 10px auto;

  }



}


