/*------------------------------------------------------------------
[Snapshop Blog]

[Table of contents]

1. Snapshop Blog
2. Snapshop Related
3. Date Icon
4. Snapshop Pagination
5. Snapshop Featured Area
6. Snapshop Comments
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
[Snapshop Blog]
-------------------------------------------------------------------*/

.post.sticky .snpshpwp_post {
	padding-left:18px;
	border-left-width:18px;
	border-left-style:solid;
}
.snpshpwp_align_left {
	text-align:left;
}
.snpshpwp_align_center {
	text-align:center;
}
.snpshpwp_align_right {
	text-align:right;
}
.snpshpwp_div_featarea {
	margin-bottom:24px;
}
.single .snpshpwp_div_featarea {
	margin-bottom:30px;
}
#snpshpwp_content h1.snpshpwp_blog_title {
	margin-bottom:24px;
}
.snpshpwp_blog {
	position:relative;
}
.snpshpwp_blog .snpshpwp_posts_meta {
	font-size:12px;
	font-style:italic;
	line-height:20px;
}
.snpshpwp_sideauthor .snpshpwp_posts_meta {
	line-height:28px;
}
.snpshpwp_blog .snpshpwp_posts_meta > div {
	display:inline;
}
.snpshpwp_blog .snpshpwp_posts_meta > div:first-child {
	text-transform:capitalize;
}
.single .snpshpwp_blog .snpshpwp_posts_meta > div {
	display:block;
}
.snpshpwp_blogcontent_meta {
	text-align:center;
}
#snpshpwp_content .snpshpwp_blog_comments a {
	color:inherit;
}
.snpshpwp_pcbw h3 {
	margin-bottom:30px;
}
.snpshpwp_posts_meta {

}
.snpshpwp_post_author h3 {
	margin-bottom:24px;
}
.snpshpwp_post_author {
	font-size:12px;
	margin-bottom:24px;
}
.snpshpwp_excerpt,
.snpshpwp_moretag {
	margin-top:16px;
}
.snpshpwp_related h3 {
	margin-bottom:36px;
}
.snpshpwp_related .snpshpwp_blog_title {
	margin-bottom:0;
}
.snpshpwp_post > img {
	float:left;
	width:97px;
	height:97px;
	margin-right:24px;
	border-width:3px;
	border-style:double;
}
.snpshpwp_post.fbuilder_column-1-1 {
	margin-top:48px;
}
.snpshpwp_post.fbuilder_column-1-1:first-child {
	margin-top:0;
}
.snpshpwp_blog_separate {
	margin-top:48px;
}
.snpshpwp_blog_separate:first-child {
	margin-top:0;
}
.snpshpwp_pcbw {
	margin-bottom:24px;
}
.snpshpwp_pcbw .snpshpwp_social_bar {
	font-size:24px
}
.snpshpwp_pcbw li {
	min-width:24px;
	padding-right:6px;
	float:left;
	transition:color 100ms;
}
.snpshpwp_pcbw li img {
	width:32px;
	height:32px;
}
.snpshpwp_sideauthor .snpshpwp_posts_meta {
	margin-bottom:24px;
}
.snpshpwp_post {
	position:relative;
}
.snpshpwp_blog .post.fbuilder_column p:last-child,
.snpshpwp_blog .post.fbuilder_column ul:last-child {
	margin-bottom:0;
}
.snpshpwp_icon {
	position:relative;
	width:60px;
	height:60px;
	line-height:60px;
	margin-bottom:8px;
	text-align:center;
}
.snpshpwp_icon i {
	font-size:36px;
	line-height:inherit;
}
.snpshpwp_div_featarea .frb-swiper-container {
	height:inherit !important
}
.snpshpwp_post {
	position:relative;
}
.snpshpwp_image_hover a.snpshpwp_image_hover_button:hover {
	border-color:transparent;
	color:#fff;
}



/*------------------------------------------------------------------
[Snapshop Related]
-------------------------------------------------------------------*/

.snpshpwp_related {
	margin-top:48px;
}
.snpshpwp_related > p {
	margin-bottom:48px;
}
.snpshpwp_sideauthor .snpshpwp_related .snpshpwp_blog_separate {
	margin-top:36px;
}
.snpshpwp_sideauthor .snpshpwp_related .snpshpwp_blog_separate:first-child {
	margin-top:0;
}
.snpshpwp_sideauthor .snpshpwp_related {
	margin-top:0;
}
.snpshpwp_sideauthor .snpshpwp_related > p {
	margin-bottom:36px;
}


/*------------------------------------------------------------------
[Date Icon]
-------------------------------------------------------------------*/

.snpshpwp_dticn {
	float:left;
	width:42px;
	height:38px;
	border-width:3px;
	border-style:solid;
	text-align:center;
	font-size:15px;
	line-height:16px;
	padding:2px 0;
	margin-right:12px;
}
.snpshpwp_dticn .snpshpwp_dticn_day {
	padding:2px 0;
}
.snpshpwp_dticn .snpshpwp_dticn_month {
	padding-bottom:2px;
}


/*------------------------------------------------------------------
[Snapshop Pagination]
-------------------------------------------------------------------*/

.snpshpwp_blog + div + .snpshpwp_pagination_wrapper,
.snpshpwp_blog + .snpshpwp_pagination_wrapper {
	margin-top:48px;
}
.snpshpwp_pagination_info {
	display:inline-block;
	line-height:30px;
	vertical-align:top;
	margin-right:18px;
}
.snpshpwp_pagination_wrapper ul {
	display:inline-block;
	vertical-align:top;
}
.snpshpwp_woo_wrap .snpshpwp_pagination_wrapper {
	margin-top:0;
}
.snpshpwp_pagination_wrapper li i {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	line-height:inherit;
	text-align:inherit;
}
.snpshpwp_pagination_wrapper li.snpshpwp_pagination_disabled {
	opacity:0.2;
}
.snpshpwp_pagination_wrapper li.snpshpwp_pagination_disabled a {
	cursor:default;
}
.snpshpwp_pagination_normal a {
	line-height:30px;
	vertical-align:top;
}
.snpshpwp_pagination_wrapper .snpshpwp_pagination_normal.snpshpwp_left a {
	margin-right:15px;
}
.snpshpwp_pagination_wrapper .snpshpwp_pagination_normal.snpshpwp_right a {
	margin-left:15px;
}
.snpshpwp_pagination_wrapper .snpshpwp_pagination_square a {
	position:relative;
	display:inline-block;
	width:30px;
	height:30px;
	border:1px solid transparent;
	line-height:30px;
	text-align:center;
	vertical-align:top;
}
.snpshpwp_pagination_wrapper a:hover {
}
.snpshpwp_blogicons .snpshpwp_icon i {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	line-height:inherit;
	text-align:inherit;
}
.snpshpwp_pagination_wrapper .snpshpwp_icon {
	margin-bottom:0;
	margin-right:12px;
}
.snpshpwp_pagination_wrapper .snpshpwp_icon {
	font-size:42px;
}
.snpshpwp_pagination_wrapper {
	text-align:center;
}
.snpshpwp_pagination_wrapper li {
	list-style:none;
	margin-right:5px;
	display:inline-block;
}
.snpshpwp_icon_comments span {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	text-align:center;
	font-size:12px;
	line-height:60px;
}
.snpshpwp_opaque i {
	opacity:0.4;
}
.snpshpwp_page.display_none {
	display:none;
}
.snpshpwp_disabled {
	height:0;
	visibility:hidden;
}


/*------------------------------------------------------------------
[Snapshop Featured Area]
-------------------------------------------------------------------*/

.blog_content .snpshpwp_div_featarea.snpshpwp_div_feat_video,
.blog_content .snpshpwp_div_featarea.snpshpwp_div_feat_gallery {
	position:relative;
	width:100%;
	height:0;
}
.snpshpwp_div_featarea.snpshpwp_div_feat_video,
.snpshpwp_div_featarea.snpshpwp_div_feat_gallery {
	position:relative;
	width:100%;
	height:0;
}
.snpshpwp_div_featarea.snpshpwp_div_feat_audio audio,
.snpshpwp_div_featarea.snpshpwp_div_feat_audio iframe,
.snpshpwp_div_featarea.snpshpwp_div_feat_video video,
.snpshpwp_div_featarea.snpshpwp_div_feat_video iframe,
.snpshpwp_div_featarea.snpshpwp_div_feat_gallery > div {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.snpshpwp_div_featarea {
	position:relative;
	display:block;
}
.snpshpwp_div_featarea img {
	display:block;
	width:100%;
	height:auto;
}
.blog_content .snpshpwp_div_featarea {
	margin-bottom:18px !important;
}
.snpshpwp_div_feat_quote {
	padding:0;
	font-size:18px;
}
.snpshpwp_div_featarea.snpshpwp_div_feat_quote {
	margin-top:18px;
}
.blog_content .format-quote .snpshpwp_div_featarea.snpshpwp_div_feat_quote {
	padding:0;
	margin:0;
}
.post.format-quote .snpshpwp_post {
	position:static !important;
}
.post.format-quote .snpshpwp_blogicons {
	top:24px !important;
}
.blog_content .format-quote .text, .blog_content .format-quote h3 {
	display:none
}
body.single-format-quote #snpshpwp_div_pure_single {
	display:none;
}
body.archive .format-quote .text,
body.archive .format-quote h3,
body.search .format-quote .text,
body.search .format-quote h3 {
	display:none;
}
.snpshpwp_div_featarea.snpshpwp_div_feat_small {
	float:left;
	width:150px;
	height:150px;
	margin-right:36px;
	margin-bottom:18px;
}
body.single .snpshpwp_div_featarea .snpshpwp_div_button_link {
	display:none;
}
.snpshpwp_div_featarea img {
	display:block;
}
.single .snpshpwp_div_featarea.snpshpwp_div_feat_quote {
	margin:0 !important;
	padding-top:18px;
}


.snpshpwp_image_hover_wrapper {
	position:absolute;
	top:18px;
	left:18px;
	bottom:18px;
	right:18px;
}
.snpshpwp_image_hover {
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	opacity:0;
	transition:opacity 100ms;
	text-align:center;
	z-index:-1;
}
.snpshpwp_mousee .snpshpwp_image_hover {
	opacity:1;
	z-index:1;
}
.snpshpwp_image_hover > div {
	margin:auto;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	text-align:center;
	width:132px;
	height:54px;
}
body.single .snpshpwp_post .snpshpwp_div_featarea .snpshpwp_image_hover > div {
	width:48px;
}
body.single .snpshpwp_related .snpshpwp_div_featarea .snpshpwp_image_hover > div {
	width:132px;
}
body.single .snpshpwp_related .snpshpwp_div_featarea .snpshpwp_div_button_link {
	display:block;
}
.snpshpwp_image_hover a.snpshpwp_image_hover_button {
	display:block;
	float:left;
	text-decoration:none;
	margin:0 6px;
	vertical-align:top;
	border-width:1px;
	border-style:solid;
}
.snpshpwp_image_hover a.snpshpwp_image_hover_button i {
	font-weight:bold;
	font-size:24px;
	line-height:24px;
	display:block;
	padding:12px;
	width:24px;
	height:24px;
}
.snpshpwp_single_navigation {
	float:right;
}
.snpshpwp_single_navigation div {
	display:inline-block;
}
.snpshpwp_single_navigation a {
	font-size:1.2REM;
	margin-left:6px;
	padding:0 3px;
}


/*------------------------------------------------------------------
[Snapshop Comments]
-------------------------------------------------------------------*/

#comments li {
	list-style:none;
	}
.comments_wrapper .headline {
	font-size:20px;
	line-height:20px;
}
.comments_wrapper .single_comment {
	position:relative;
	-ms-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	width:100%;
	padding-top:36px;
}
#comments .nocomments {
	display:none;
}
#comments .author_meta {
	font-size:18px;
}
#comments .date_meta {
	font-style:oblique;
}
#comments .comment_text p {
	margin-bottom:18px;
}
.single_comment.indent {
	padding-left:70px;
}
.comment_form, #respond {
	padding:0px;
}
.comment_form input[type="text"].input_field,
#respond input[type="text"].input_field {
	float:left;
	width:32%;
	border-style:solid;
	border-radius:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	height:50px;
	display:block;
	padding:0 10px;
}
.comment_form input[name="email"].input_field,
#respond input[name="email"].input_field {
	margin:0 2%;
}
.comment_form input[type="text"].input_field:focus,
.comment_form textarea.textarea_field:focus,
#respond input[type="text"].input_field:focus,
#respond textarea.textarea_field:focus {
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}
#respond p.form-allowed-tags {
	display:none;
}
textarea#comment {
	margin-bottom:36px;
}
p.comment-notes {
	margin-bottom:12px;
}
#comments li.comment:first-child {
	border:0;
	padding:0;
}
#comments ul ul {
	margin-left:0;
	padding-left:90px;
}
#comments .comment {
	margin-top:36px;
}
#comments .comment:first-child {
	margin-top:0;
}
#comments .comment .children {
	margin-top:36px;
}
#cancel-comment-reply-link {
	font-size:14px;
	float:right;
}
p.form-submit{
	margin-bottom:0;
}
.snpshpwp_post_author img.avatar {
	float:left;
	width:97px;
	height:97px;
	margin-right:24px;
	border-width:3px;
	border-style:double;
}
#reply-title {
	margin-bottom:24px;
}
#respond p.logged-in-as {
	margin-top:-24px;
	margin-bottom:36px;
}
#respond p.form-submit {
	text-align:right;
}
.comment_form textarea.textarea_field,
#respond textarea.textarea_field {
	font-size:inherit;
	line-height:inherit;
	clear:both;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	resize:none;
	width:100%;
	padding:10px;
	height:300px;
}
.snpshpwp_div_comment {
	position:relative;
	padding-left:136px;
}
#comments li.comment #respond {
	margin-top:36px;
}
#comments li.comment #respond p.form-submit {
	margin-bottom:0;
}
#comments h6.comments_title {
	padding-top:36px;
	border-top:1px solid transparent;
	margin-top:36px;
}
.comments_wrapper ul {
	margin-left:70px;
}
.snpshpwp_comment_edit {
	position:absolute;
	top:15px;
	right:15px;
	line-height:14px;
}
.snpshpwp_comment_edit a {
	margin-left:12px;
}
.snpshpwp_comment_text p {
	margin-bottom:0;
}
.snpshpwp_submit_button {
	position:absolute;
	top:0;
	right:0;
	height:50px;
	width:100px;
	background:transparent;
	border:0;
	font-family:inherit;
}
.snpshpwp_submit_button i {
	position:absolute;
	top:0;
	left:0;
	width:50px;
	height:50px;
	line-height:50px;
}
.snpshpwp_icon_comments span {
	color:inherit !important;
}
#respond:after {
	clear:both;
	display:block;
	content:''
}
.comment-body {
	position:relative;
	margin-left:124px;
	border-width:1px;
	border-style:solid;
	padding:18px;
}
.comment-body:before {
	content:'';
	position:absolute;
	top:18px;
	left:-24px;
	border-width:12px;
	border-style:solid;
	border-color:transparent;
}
.comment-body:after {
	content:'';
	position:absolute;
	top:19px;
	left:-22px;
	border-width:11px;
	border-style:solid;
	border-color:transparent;
}
.comment-body .says {
	display:none;
}
.comment-body p:last-child {
	margin-bottom:0;
}
.comment-body .reply {
	position:absolute;
	top:18px;
	right:18px;
}
.comment-author img.avatar {
	position:absolute;
	top:0;
	left:-124px;
	width:97px !important;
	height:97px !important;
	margin-right:24px;
	border-width:3px;
	border-style:double;
;}
