/*------------------------------------------------------------------
[Snapshop General]

[Table of contents]

1. Snapshop General
2. Snapshop Wordpress Core
3. Snapshop Demo Buttons
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
[Snapshop General]
-------------------------------------------------------------------*/

.snpshpwp_container {
	margin-right:auto;
	margin-left:auto;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	*zoom:1;
}
.anivia_row:before,
.anivia_row:after {
	display:table;
	content:"";
	line-height:0;
}
.anivia_row:after {
	clear:both;
}
.clearfix {
	*zoom:1;
}
.clearfix:before,
.clearfix:after {
	display:table;
	content:"";
	line-height:0;
}
.clearfix:after {
	clear:both;
}
.snpshpwp_div_inherit_width {
	width:inherit !important;
}
.snpshpwp_container img {
	max-width:100%;
}
.a-inherit > a:hover {
	text-decoration:none !important;
}
.snpshpwp_div_trans_bg {
	background:transparent !important;
}
.snpshpwp_hidden_flow,
.snpshpwp_hidden_flow > div,
.snpshpwp_woo_wrap {
	overflow:hidden !important;
}
.snpshpwp_woo_wrap {
	padding-top:18px;
	margin-top:-18px;
}
.rev_slider_wrapper {
	overflow:hidden !important;
}
#snpshpwp_wrapper .snpshpwp_breadcrumbs + #snpshpwp_content {
	border-top:0;
}
.archive .snpshpwp_blog .post {
	padding-bottom:36px;
}
.archive .snpshpwp_blog {
	margin-bottom:-36px;
}
#snpshpwp_content .sidebar_wrapper {
	padding:32px 0;
}
body.error404 #content {
	margin-top:128px;
}
.sidebar_wrapper {
	margin-bottom:64px;
}
#snpshpwp_content .snpshpwp_searchform {
	position:relative;
}


/*------------------------------------------------------------------
[Snapshop Wordpress Core]
-------------------------------------------------------------------*/

img.wp-post-image {
	max-width:100%;
	height:auto;
	}
img.wp-post-image {}
.alignnone {
	margin:6px 12px 12px 0;
}
.aligncenter,
div.aligncenter {
	display:block;
	margin:6px auto 6px auto;
}
.alignright {
	float:right;
	margin:6px 0 12px 12px;
}
.alignleft {
	float:left;
	margin:6px 12px 12px 0;
}
.aligncenter {
	display:block;
	margin:5px auto 6px auto;
}
a img.alignright {
	float:right;
	margin:6px 0 12px 12px;
}
a img.alignnone {
	margin:6px 12px 12px 0;
}
a img.alignleft {
	float:left;
	margin:6px 12px 12px 0;
}
a img.aligncenter {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.wp-caption {
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
	background:#f2f2f2;
	border:1px solid #e6e6e6;
	max-width:100%;padding:10px;
	text-align:center;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
}
.wp-caption.alignnone {
	margin:6px 12px 12px 0;
}
.wp-caption.alignleft {
	margin:6px 12px 12px 0;
}
.wp-caption.alignright {
	margin:6px 0 12px 12px;
}
.wp-caption img {
	border:0 none;
	height:auto;
	margin:0;
	max-width:100%;
	padding:0;
	width:auto;
}
.wp-caption p.wp-caption-text {
	color:#111;
}
.gallery-caption {}
.bypostauthor {}
.sticky {}
.gallery img {
	border:0 !important;
}
.gallery br + br {
	display:none;
}
.gallery dl {
	margin:0 !important;
}
.image-excerpt {
	font-style:italic;
}
img.maxfullwidth{
	max-width:100%;
	height:auto;
}

/*------------------------------------------------------------------
[Snapshop Demo Buttons]
-------------------------------------------------------------------*/

.rev_slider_wrapper .snapshop_button > a {
	color:#ffffff !important;
	text-shadow:none;
	font-size:16px ;
	line-height:16px ;
	font-family:"Open Sans";
	text-decoration:none;
	background-color:rgb(199, 76, 67);
	background-color:rgba(199, 76, 67, 1);
	padding:20px 35px 20px 35px;
	border-width:0px;
	border-color:#000000;
	border-style:none;
	transition:background-color 200ms linear !important;
}

.rev_slider_wrapper .snapshop_button > a:hover {
	color:#ffffff !important;
	background-color:#cf625c;
}