/*------------------------------------------------------------------
[Snapshop Widgets]

[Table of contents]

1. Snapshop Default Widgets
2. Snapshop Widget Categories
3. Snapshop Twitter
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
[Snapshop Default Widgets]
-------------------------------------------------------------------*/

.widget:first-child {
	margin-top:0 !important;
}
.snpshpwp_widget_title {
	text-transform:uppercase;
}
.widget a {
	color:inherit;
}
.widget ul {
	padding-left:20px;
}
.widget > ul {
	padding-left:0;
}
.widget ul li {
	list-style:disc;
	list-style-position:outside;
}
.widget > ul > li {
	list-style:none;
}
.widget li li {
	border-top:0;
}
.widget_recent_entries li:last-child,
.widget_recent_comments li:last-child,
.widget_archive li:last-child,
.widget_categories li:last-child,
.widget_meta li:last-child,
.widget_pages li:last-child,
.widget_nav_menu li:last-child,
.widget.woocommerce li:last-child {
	padding-bottom:0;
}
.widget_recent_entries ul,
.widget_recent_comments ul,
.widget_archive ul,
.widget_categories ul,
.widget_meta ul,
.widget_pages ul,
.widget_nav_menu ul,
.widget.woocommerce ul {
	padding-left:0 !important;
}
.widget_recent_entries li,
.widget_recent_comments li,
.widget_archive li,
.widget_categories li,
.widget_meta li,
.widget_pages li,
.widget_nav_menu li,
.widget.woocommerce li {
	list-style:none !important;
}
.widget_recent_entries li li,
.widget_recent_comments li li,
.widget_archive li li,
.widget_categories li li,
.widget_meta li li,
.widget_pages li li,
.widget_nav_menu li li,
.widget.woocommerce li li {
	padding:0px;
	line-height:36px;
}
.widget_recent_entries li.menu-item-has-children:first-child,
.widget_recent_comments li.menu-item-has-children:first-child,
.widget_archive li.menu-item-has-children:first-child,
.widget_categories li.menu-item-has-children:first-child,
.widget_meta li.menu-item-has-children:first-child,
.widget_pages li.menu-item-has-children:first-child,
.widget_nav_menu li.menu-item-has-children:first-child {
	padding-bottom:0px !important;
}
.widget_recent_comments li a.url {
	font-weight:normal !important;
	display:inline !important;
	font-size:normal !important;
	line-height:normal !important;
	text-transform:none !important;
}

.widget.widget_pages > ul,
.widget.widget_archive > ul,
.widget.widget_recent_comments > ul,
.widget.widget_recent_entries > ul,
.widget.widget_categories > ul,
.widget.widget_product_categories > ul {
	margin:-7px 0;
}
.widget.widget_pages li,
.widget.widget_archive li,
.widget.widget_recent_comments li,
.widget.widget_recent_entries li,
.widget.widget_categories li,
.widget.widget_product_categories li {
	border-top:1px solid #ccc;
	padding:7px 0;
}
.widget.widget_pages li li,
.widget.widget_archive li li,
.widget.widget_recent_comments li li,
.widget.widget_recent_entries li li,
.widget.widget_categories li li,
.widget.widget_product_categories li li {
	padding-left:12px;
}
.widget.widget_pages > ul > li:first-child,
.widget.widget_archive > ul > li:first-child,
.widget.widget_recent_comments > ul > li:first-child,
.widget.widget_recent_entries > ul > li:first-child,
.widget.widget_categories > ul > li:first-child,
.widget.widget_product_categories > ul > li:first-child {
	border-top:0;
}
.widget.widget_pages li > ul,
.widget.widget_archive li > ul,
.widget.widget_recent_comments li > ul,
.widget.widget_recent_entries li > ul,
.widget.widget_categories li > ul,
.widget.widget_product_categories li > ul {
	margin-top:7px;
	margin-bottom:-7px;
}

.widget.widget_categories li,
.widget.widget_archive li {
	text-align:right;
}
.widget.widget_categories a,
.widget.widget_archive a {
	float:left;
}
.tagcloud {
	clear:both;
}
.tagcloud a {
	display:inline-block !important;
	margin-bottom:6px;
	margin-right:3px;
	padding:9px 24px;
	border-width:1px;
	border-style:solid;
}


/*------------------------------------------------------------------
[Snapshop Widget Categories]
-------------------------------------------------------------------*/

.widget-snpshpwp-cat .smaller_image img {
	width:72px;
	height:72px;
	display:block;
}
.widget-snpshpwp-cat li:last-child .smaller_image img {
	margin-bottom:0 !important;
}
.widget-snpshpwp-cat .overflow_ellipsis {
	text-overflow:ellipsis;
	display:block;
	white-space:nowrap;
	overflow:hidden;
}
.widget-snpshpwp-cat ul {
	padding:0;
}
.widget-snpshpwp-cat ul li {
	clear:both;
	list-style:none;
	margin-top:10px;
	padding-top:10px;
}
.widget-snpshpwp-cat ul li:first-child {
	margin-top:0;
	padding-top:0;
	border-top:0;
}
.widget-snpshpwp-cat a {
	color:inherit
}
.widget-snpshpwp-cat h6 {
	line-height:1;
}


/*------------------------------------------------------------------
[Snapshop Twitter]
-------------------------------------------------------------------*/

.tweets-list > li > a i {
	vertical-align:middle;
	font-size:24px;
	padding-right:6px;
}
.tweets-list .snpshpwp_twauthor {
	text-transform:uppercase;
	font-size:14px;
	vertical-align:middle;
}
.tweets-list li {
	margin-top:10px;
	padding-top:10px;
}
.tweets-list li:first-child {
	margin-top:0;
	padding-top:0;
}


