/*

*/

.version.index /* version checker */
{
	color: #000013;
	background-color: #57EC7B;
}

.html
{
	background-color: #35FFC0;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 807px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	width: 0.01px;
}

#pu112
{
	width: 0.01px;
	padding-bottom: 1842px;
	margin-left: -100px;
}

#u112
{
	z-index: 6;
	position: fixed;
	top: 25px;
	left: 29px;
}

#u122
{
	z-index: 8;
	position: fixed;
	top: 29px;
	left: 50%;
	margin-left: -74px;
}

#u156
{
	z-index: 13;
	position: fixed;
	top: 27px;
	right: 1px;
}

#u189
{
	z-index: 3;
	width: 132px;
	height: 111px;
	background-color: #35FFC0;
	position: fixed;
	top: 0px;
	right: 0px;
}

#u183
{
	z-index: 30;
	height: 8px;
	background-color: #051AE8;
	position: fixed;
	top: 0px;
}

#u183-bw
{
	z-index: 30;
}

#u184
{
	z-index: 32;
	width: 8px;
	height: 1838px;
	background-color: #051AE8;
	position: fixed;
	top: 4px;
	left: 0px;
}

#u186
{
	z-index: 33;
	width: 8px;
	height: 1838px;
	background-color: #051AE8;
	position: fixed;
	top: 4px;
	right: 0px;
}

#pu100
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -1800px;
}

#u100
{
	z-index: 5;
	height: 1800px;
	background-color: transparent;
}

#U197_animation
{
	width: 1400px;
	height: 1800px;
	border: none;
}

#u100-bw
{
	z-index: 5;
	height: 1800px;
}

#u143-4
{
	z-index: 9;
	width: 166px;
	min-height: 124px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 439px;
	left: 1074px;
}

#u204
{
	z-index: 34;
	width: 220px;
	height: 180px;
	border-width: 7px;
	border-style: solid;
	position: relative;
	margin-right: -10000px;
	margin-top: 193px;
	left: 608px;
}

.box
{
	border-width: 7px;
	border-style: solid;
	border-color: #0518E6;
	background-color: #FFFFFF;
}

#pu149
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -1712px;
}

#pu149_position_content
{
	margin-top: -32px;
	padding-bottom: 1757px;
}

#u149
{
	z-index: 2;
	height: 1725px;
	background: transparent url("../images/timeline.png") repeat-y right center;
}

#u149-bw
{
	z-index: 2;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 94px;
}

#u90
{
	z-index: 4;
	position: fixed;
	top: 328px;
	left: 78px;
}

#u117
{
	z-index: 7;
	position: fixed;
	top: 401px;
	right: 105px;
}

#u182-4
{
	z-index: 18;
	width: 36px;
	min-height: 48px;
	background-color: transparent;
	text-align: center;
	line-height: 30px;
	text-transform: none;
	font-size: 25px;
	color: #1900D2;
	font-family: '__fontello_5';
	font-weight: 400;
	position: fixed;
	bottom: 6px;
	left: 17px;
}

#u174-4
{
	z-index: 14;
	width: 36px;
	min-height: 48px;
	background-color: transparent;
	color: #1900D2;
	text-align: center;
	font-size: 25px;
	line-height: 30px;
	font-family: '__fontello_5';
	font-weight: 400;
	position: fixed;
	bottom: 6px;
	left: 54px;
}

#u182-4:hover,#u174-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 48px;
	width: 36px;
	margin: 0px;
}

#u182-4:hover p,#u174-4:hover p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u176-4
{
	z-index: 22;
	width: 38px;
	min-height: 48px;
	background-color: transparent;
	color: #1900D2;
	text-align: center;
	font-size: 25px;
	line-height: 30px;
	font-family: '__fontello_5';
	font-weight: 400;
	position: fixed;
	bottom: 6px;
	left: 90px;
}

#u178-4
{
	z-index: 26;
	width: 38px;
	min-height: 48px;
	background-color: transparent;
	color: #1900D2;
	text-align: center;
	font-size: 25px;
	line-height: 30px;
	font-family: '__fontello_5';
	font-weight: 400;
	position: fixed;
	bottom: 6px;
	left: 130px;
}

#u182-2,#u174-2,#u176-2,#u178-2
{
	padding-top: 5px;
}

#u188
{
	z-index: 31;
	height: 8px;
	background-color: #051AE8;
	position: fixed;
	bottom: 0px;
}

#u188-bw
{
	z-index: 31;
}

@font-face
{
	font-family: '__fontello_5';
	src: url('../fonts/fontello.eot');
	src: local('☺'), url('../fonts/fontello.woff') format('woff'), url('../fonts/fontello.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 1200px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

