// _colors.scss

mark {
    background: $brand-color;
    color: $white;
}


a {
	color: $brand-light;
	font-weight: 600!important;
}

a:hover{
color: $brand-light;
font-weight: 600;
	text-decoration: underline;
}