// _fonts.scss

@font-face {
    font-family: 'neuzeit_condenced';
    src: url('../font/neuzeit_condenced.eot');
    src: url('../font/bneuzeit_condenced.eot?#iefix') format('embedded-opentype'),
         url('../font/neuzeit_condenced.woff') format('woff'),
         url('../font/neuzeit_condenced.ttf') format('truetype'),
         url('../font/neuzeit_condenced.svg#neuzeit_condenced') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'neuzeit';
    src: url('../font/neuzeit.eot');
    src: url('../font/bneuzeit.eot?#iefix') format('embedded-opentype'),
         url('../font/neuzeit.woff') format('woff'),
         url('../font/neuzeit.ttf') format('truetype'),
         url('../font/neuzeit.svg#neuzeit') format('svg');
    font-weight: normal;
    font-style: normal;
}


    $primary_font: 'neuzeit';
$secondary_font: 'neuzeit_condenced';
$p_font: 'karla';


body {
    font-family: $p_font;
    font-size:12px;
    color: #fff;
   }

.light {
    font-weight: 100!important;
}

.medium {
    font-weight: 400!important;
}

.bold {
    font-weight: 600!important;
}

