// _footer.scss

#footer {
    height: 100%;
    width: 4%;
    position: relative;
    z-index: 2000;
    float: right;
    background: $black;
}

#footer p {
    font-family: $primary_font;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: .8em;
    font-weight: 100;

}


#social_wrapper {
     position: absolute;
    bottom: 8px;
    left: 11%;
}

#social_wrapper a{
   
    margin: 0px 3px;

}
#social:hover {
    opacity: 0.7;
}
#social {
    width: 60%;
    margin: 0 auto;
    position: static;
    max-width: 30px;

}