// _main.scss

    #main {
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    position: relative;
       background-image: url("../img/mod_logo.svg");
    z-index: 1000;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 44%;
    background-position: 62%;
    overflow: hidden;
    }


// .overlay_transition {
// 	width: 100%;
// 	height: 80%;
// 	background-color: $brand-color;
// 	position: absolute;
// 	left:19%;
// 	top: 0;
// 	z-index:5000;
// 	border: 7px solid $black;
// }