// _fonts.scss

@font-face {
    font-family: 'berliner_grotesk_d_otlight';
    src: url('../font/berlinergroteskdot-light-webfont.eot');
    src: url('../font/berlinergroteskdot-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/berlinergroteskdot-light-webfont.woff2') format('woff2'),
         url('../font/berlinergroteskdot-light-webfont.woff') format('woff'),
         url('../font/berlinergroteskdot-light-webfont.ttf') format('truetype'),
         url('../font/berlinergroteskdot-light-webfont.svg#berliner_grotesk_d_otlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'karla';
    font-size: 14px;
    color: #fff;
   }

   .light {
    font-weight: 100!important;
}

.medium {
    font-weight: 400!important;
}

.bold {
    font-weight: 600!important;
}
